<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>About us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque porro
        error iusto quidem perspiciatis sed reiciendis ullam assumenda quibusdam
        reprehenderit.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque porro
        error iusto quidem perspiciatis sed reiciendis ullam assumenda quibusdam
        reprehenderit.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque porro
        error iusto quidem perspiciatis sed reiciendis ullam assumenda quibusdam
        reprehenderit.
      </p>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
